<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h2>Spot Import</h2>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">
                <h3 class="m-t-none m-b">Data from Telerik Database</h3>

                <div class="form-group">
                    <span class="col-xs-3">Count:</span>

                    <div class="col-xs-9">
                        <span>{{::telerikSpots.count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="m-t-none m-b">Data from Maptive Url</h3>

                <div class="form-group">
                    <span class="col-xs-3">Count:</span>

                    <div class="col-xs-9">
                        <span>{{::maptiveSpots.total_markers}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-12">
                <h3 class="m-t-none m-b">Result</h3>

                <div class="form-group">
                    <span class="col-xs-3">Updated spots:</span>

                    <div class="col-xs-9">
                        <span>{{updatedSpots.length}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <span class="col-xs-3">New spots:</span>

                    <div class="col-xs-9">
                        <span>{{newSpots.length}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-info" ng-click="splitDataFromUrl()">Import</button>
                </div>
            </div>
        </div>
        <div class="row m-t">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-info" ng-click="deleteTerracycle()">Delete Terracycle</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" ng-show="isImporting">
    <div class="col-md-6">
        <div ng-if="!_.isEmpty(markerData)">
            <h2>Marker data</h2>

            <p>Count: <span ng-bind="markerData.length"></span></p>

            <div ng-repeat="marker in markerData" class="marker-data">
                <div ng-repeat="description in marker.translatedData">
                    <strong ng-if="description.day">{{::description.day}}:&nbsp;</strong>{{::description.description}}
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div ng-if="!_.isEmpty(spotData)">
            <h2>Spot data</h2>

            <p>Count: <span ng-bind="spotData.length"></span></p>

            <div ng-repeat="spot in spotData">
                <pre>{{spot | json}}</pre>
            </div>
        </div>
    </div>
</div>

<style>
    .marker-data {
        padding: 5px;
        border: 1px solid;
        margin-bottom: 5px;
    }
</style>