<span us-spinner="{radius:30, width:8, length: 16}" spinner-key="spinner-1"></span>

<div class="ibox float-e-margins">
    <div class="ibox-title">
        <h2>Spot Import</h2>
    </div>
    <div class="ibox-content">
        <div class="row">
            <div class="col-sm-6 b-r">
                <h3 class="m-t-none m-b">Data from Telerik Database</h3>

                <div class="form-group">
                    <span class="col-xs-3">Count:</span>

                    <div class="col-xs-9">
                        <span>{{::telerikSpots.count}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <h3 class="m-t-none m-b">Data from Maptive Url</h3>

                <div class="form-group">
                    <span class="col-xs-3">Count:</span>

                    <div class="col-xs-9">
                        <span>{{::maptiveSpots.total_markers}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t">
            <div class="col-sm-12">
                <h3 class="m-t-none m-b">Result</h3>

                <div class="form-group">
                    <span class="col-xs-3">Updated spots:</span>

                    <div class="col-xs-9">
                        <span>{{updatedSpots.length}}</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group">
                    <span class="col-xs-3">New spots:</span>

                    <div class="col-xs-9">
                        <span>{{newSpots.length}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t">
            <div class="form-group">
                <div class="col-sm-12">
                    <button class="btn btn-info" ng-click="import()">Import</button>
                </div>
            </div>
        </div>
    </div>
</div>

<h2>Marker data:</h2>
<p ng-repeat="marker in markerData">
    <strong>{{::marker.day}}</strong>:&nbsp;{{::marker.time}}
</p>
<!--<div><span class='l'><b>Mandag</b>:</span>&#160;08.00-16.00</div>-->
<!--<div><span class='l'><b>Tirsdag</b>:</span>&#160;08.00-16.00</div>-->
<!--<div><span class='l'><b>Onsdag</b>:</span>&#160;08.00-16.00</div>-->
<!--<div><span class='l'><b>Torsdag </b>:</span>&#160;08.00-16.00</div>-->
<!--<div><span class='l'><b>Fredag</b>:</span>&#160;08.00-16.00</div>-->
<!--<div><span class='l'><b>Lørdag</b>:</span>&#160;Lukket</div>-->
<!--<div><span class='l'><b>Søndag</b>:</span>&#160;Lukket</div>-->
<!--<div><span class='l'><b>Indsamlingspladsen donerer til</b>:</span>&#160;Eleverne donerer til projekter I udlandet. Lige-->
    <!--nu sender de fodbolde til Cambodia-->
<!--</div>-->